@{
    ViewData["Title"] = "Home Page";
}

<p></p>

<form method="post">

    <label>First Name</label>
    <input type="text" name="firstName" value="@ViewBag.FirstName" />
    <br />

    <label>Last Name</label>
    <input type="text" name="lastName" value="@ViewBag.LastName" />
    <br />

    <label for="Select">Choose a language:</label>



    <select id="SelectLanguage" name="langSelect">

        <option value="Hello" selected>English</option>
        <option value="Hola">Spanish</option>
        <option value="Bonjour">French</option>
        <option value="Ola">Portuguese</option>
        <option value="Ciao">Italian</option>
        <option value="Hola">Spanish</option>

    </select>
    <br />
    <button type="submit">Save</button>
    <br />
    <br />
    <label id="messageOut">@ViewBag.messageOut</label>


    <br />




</form>
